/* ======= */
/* general */
/* ======= */

:root {
  /* colors */
  --accent-color: #2196f3;
  --black-logo-color: #000000;
  --white-primary-color: #ffffff;
  --white-primary-opacity-color: rgba(255, 255, 255, 0.6);
  --white-secondary-color: #f5f4fa;
  --grey-primary-color: #757575;
  --grey-secondary-color: #212121;
  --grey-footer-color: #2f303a;
  --header-border-color: #ECECEC;
  --portfolio-card-border-color: #EEEEEE;
}

/* page */
body {
  font-family: roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-primary-color);
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* delete list marks */
.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

/* delete links underline */
.link {
  text-decoration: none;
}

/* sections */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-bottom {
  padding-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--grey-secondary-color);
}

/* ======= */
/* buttons */
/* ======= */

.button {
  border: 0 solid transparent;
  border-radius: 4px;

  background-color: var(--white-primary-color);
  color: var(--black-logo-color);
  cursor: pointer;
}

/* primary */
.button.primary {
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-primary-color);
}

/* secondary */
.button.secondary {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--white-secondary-color);
  color: var(--grey-secondary-color);
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
  color: var(--white-primary-color);
}

/* ==== */
/* logo */
/* ==== */

.logo {
  display: inline-block;

  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-header {
  color: var(--black-logo-color);
}

.logo-footer {
  color: var(--white-primary-color);
}

.logo:hover,
.logo:hover > .logo-header,
.logo:hover > .logo-footer {
  color: var(--accent-color);
}

/* ============== */
/* header of page */
/* ============== */

.header {
  border: 1px solid var(--header-border-color);;
}

/* site nav */
/* general */
.site-nav,
.contacts-nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link {
  color: var(--grey-secondary-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* contacts nav */
.contacts-nav .link {
  color: var(--grey-primary-color);
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

/* ============== */
/* footer of page */
/* ============== */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--grey-footer-color);
}

.footer .logo {
  margin-bottom: 20px;
}

.address-nav {
  font-style: normal;
}

.address-nav .direction {
  color: var(--white-primary-color);
}

.address-nav .contacts {
  color: var(--white-primary-opacity-color);
}

.address-nav .contacts:hover,
.address-nav .contacts:focus {
  color: var(--accent-color);
}

/* ======================== */
/* studio page main content */
/* ======================== */

/* hero */
.hero {
  text-align: center;
  background-color: var(--grey-footer-color);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-primary-color);
}

/* features */
.features-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--grey-secondary-color);
}

.features-list p {
  margin-top: 0;
  margin-bottom: 0;
}

/* what we do */

/* our team */
.section.team {
  background-color: var(--white-secondary-color);
}

.team-list .title,
.team-list p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  color: var(--grey-secondary-color);
}

.team-list p {
  margin-top: 0;
  margin-bottom: 0;
}

/* =========================== */
/* portfolio page main content */
/* =========================== */

/* portfolio list */
.portfolio-list .link {
  border-bottom: 1px solid var(--portfolio-card-border-color);
  
  display: inline-block;
}

.portfolio-list .title {
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--grey-secondary-color);
}

.portfolio-list p {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.88;
  color: var(--grey-primary-color);
}
